body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 50px;
}
section{
    height: 300px;}

.name-highlight{
        color: orange;
    }
.half-width{
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
}
.half-width img{
        width: 50%;
}
.top-banner{
        
        background-image: url("imgs/personal-website/header-bg.png");
}


.work-img img {
    width: 28%;
    margin-left: 4%;
    float: left;
}
.work{
     width: 100%;
}

a.link-button{
    text-decoration: none;
    color: #fff;
    background: red;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
}
.center{
    text-align: center;
}